#logo{
    text-align: left;
    font-style: italic;
    font-size: 100%;
    color: whitesmoke;
    font-family: cursive;
}
#fundo{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(192, 192, 192), rgb(163, 163, 163),rgb(136, 136, 136));
}
#fontpe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-style: italic;
    text-align: justify;
    font-size: small;
    bottom: 0;
    width: 100%;
}
#sobre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(41, 41, 41);
    font-style: italic;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.tamanho_prod{
    width: 250px;
    border: 1px solid rgb(41, 41, 41);
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex: 0 0 calc(25% - 5%);
}
